$background-color: black;
$text-color: white;
$text-color-dark: #808080;
$border-color: #2b2b2b;
$main-color: #fefbf5;
$main-color-dark: #8f2d00;


$nav-height: 25px;
$panels-height: calc(100vh - $nav-height);

$card-padding: clamp(20px, 2vw, 35px);
$card-title: clamp(18px, 1.3vw, 23px);
$card-subtitle: clamp(14px, 1.3vw, 15px);
$card-icon: clamp(10px, 1.2vw, 15px);
