<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11530837566-42gm1v0f21eijeillbl79k345c83anid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11530837566-42gm1v0f21eijeillbl79k345c83anid</string>
	<key>API_KEY</key>
	<string>AIzaSyBZajqMzy1OsDBHu5m6YdObYzePzjldezM</string>
	<key>GCM_SENDER_ID</key>
	<string>11530837566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.megatunger.mairdrop</string>
	<key>PROJECT_ID</key>
	<string>mairdrop-fbdc9</string>
	<key>STORAGE_BUCKET</key>
	<string>mairdrop-fbdc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11530837566:ios:887358ea34084452047b6f</string>
</dict>
</plist>